<h1 class="listTitle">About Tiger Monkey Paw</h1>

<p>I got the idea for this website a few years ago when I was trying to learn Brazilian Jiu Jitsu. There are tons of youtube videos devoted to the topic, but it was hard to keep track of which videos I had watched, what I thought of the videos, and what parts where the best. I felt like I could have learned so much more if I simply had a tool like this. Incidentally, the name is a reference to the Kung Fu movies that played occasionally on Saturday Mornings when I was a kid - there was nearly always some secret move that came into play. This site is my "secret move".</p>

<p>The real point of this site is to help you organize the information on youtube that you need in order to learn something, or even just keep track of the videos you find pleasure in. Please see the Tips page for some ideas about how to use the site to its potential.</p>

<p>I hope you enjoy it!</p>