
<div id="mainList">
<div>
<h1 class="listTitle">My Lists</h1>
<div style="display: inline-block">

    <input type="text" id="searchField" class="search-input" name="search" placeholder="Filter by list title" ng-model="test">
    
  </div>
</div>
<div>
<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#createList">Create List</button>
<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#addVideo">Add Video</button>
<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#deleteList">Delete List</button>


</div>

<!-- {{lists}} -->

<table class="table table-striped">
	<thead>
		<tr><th>List Title (click title to see the list)</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="l in lists | filter: test">
		<td><a ng-click="getVideos(l._id)">{{l.title}}</a></td></tr>
		
	</tbody>
</table>
</div>
</div>
<!-- Show Videos -->
<div id="mainVideos">

<h1 class="listTitle">My Videos</h1>
<div style="display: inline-block">


<form class="searchForm form-horizontal">
    <input type="text" id="searchField" class="search-input" name="search" ng-model="search.text" placeholder="Video title, description">
    <input type="submit" name="searchButton" id="searchBtn" class="btn-sm searchBtn" ng-click="searchVideos(search)" value="Search">
  </form>


  </div>
  <div id="videoButtons">

    <button type="button" class="btn btn-info btn-md" ng-click="position()">Position</button>
    <button type="button" class="btn btn-info btn-md" ng-click="title()">Title</button>
    <button type="button" class="btn btn-info btn-md" ng-click="recent()">Recent</button>
    <button type="button" class="btn btn-info btn-md" ng-click="rating()">Rating</button>
    <h3 class="ListTitleOverVideos">{{listTitle}}</h3>
  </div>
<!-- {{videos}} -->
<div ng-repeat="video in videos | orderBy: order"  style="padding:20px" class="showVideoBox">
<!-- {{video}} -->
<div>
  <h4 class="videoTitle">{{video.position+1}}. <span class="videoTitle2">{{video.title}}</span></h4>
   <!-- {{video.rating}} -->
   <div ng-repeat="n in video.rating track by $index" class="starDiv">
    <span ng-if="n" class="stars">&#9733;</span>
    <span ng-if="!n" class="notStars"> &#9734;</span>
  </div>
</div>
<div class="mainVideo">
   <iframe width="280" height="158" ng-src="{{video.url | trusted}}" 
     frameborder="0" allowfullscreen></iframe>
</div>
<div class="mainTextArea">
  <textarea ng-model="video.description" readonly="true"></textarea>
</div>
<div>
  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#seeVideo" ng-click="seeVideo(video)">Update Video</button>
</div>
<!-- {{video._id}} -->
</div>
</div>
  
</div>

</div>







<!-- **************** Modals *********************************** -->

<!-- *****************CreateList *******************************-->
<div id="createList" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create List</h4>
      </div>
      <div class="modal-body">
        <form>
          <p>List Title: <input type="text" ng-model="newList.title" class="form-control"></p>
          <p><input type="submit" value="Add List" class="form-control btn-info" ng-click="addList()"></p>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- ************************** Delete List *********************************-->
<div id="deleteList" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete List</h4>
      </div>
      <div class="modal-body">
        <form>
          <p>List: <select class="form-control" ng-model="v._listId" ng-options="l.title for l in lists">
          </select></p>
          <p><input type="submit" value="Delete List" class="form-control btn-info" ng-click="deleteList(v._listId)"></p>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- //Add Video -->
<div id="addVideo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Video</h4>
      </div>
      <div class="modal-body">
        <form>
          <p>Browser Url: <input type="text" ng-model="v.url" class="form-control"></p>
          <p>Video Title: <input type="text" ng-model="v.title" class="form-control"></p>
          <p>List: <select ng-model="v._listId" class="form-control" ng-options="l.title for l in lists">
          </select></p>
          <p>Description: <textarea ng-model="v.description" class="form-control"></textarea>
    
          <p>Number of Stars: <input type="number" class="form-control" ng-model="v.rating" min="1" max="5"></p>
          <p><input type="submit" value="Add Video" class="form-control btn-info" ng-click="addVideoToList()"></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Update Video -->
<div id="seeVideo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{showVideo.position+1}}. {{showVideo.title}}
            <div ng-repeat="n in showVideo.rating track by $index" class="starDiv">
              <span ng-if="n" class="stars">&#9733;</span>
              <span ng-if="!n" class="notStars"> &#9734;</span>
            </div> </h4>
      </div>
      <div class="modal-body">
      <!-- {{showVideo}} -->
        <iframe width="280" height="158" ng-if="showVideo.url" ng-src="{{showVideo.url | trusted}}" frameborder="0" allowfullscreen></iframe>
          <form>
           
            <p>Title: <input type="text" class="form-control" ng-model="showVideo.title" name=""></p>
            <p>Number of Stars: <input type="number" class="form-control" ng-model="showVideo.newRating" min="1" max="5"></p>
         
            <p>Description: <textarea class="form-control" ng-model="showVideo.description"></textarea>

            <p>Change Position: 
            <form class="changePositionForm">
            <select ng-model="showVideo.newPosition">
              <option ng-repeat="v in videos | orderBy: 'position'">{{v.position+1}}</option>
            </select> 
            <!-- <input type="submit" value="Change Place" ng-click="changePosition(v.position, video.position, video._id)"> -->
            </form>
            </p>
            
            <p><input class="form-control btn-info" type="submit" value="Update" ng-click="updateVideo(showVideo)"  ></p>
        </form>
        <button ng-click="deleteVideo(showVideo)" data-dismiss="modal">Delete Video</button>
        <!-- {{showVideo}} -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


