<h1 class="listTitle">Top Tiger Monkey Paw Tips</h1>



<p>Tip 1: Take notes in the description section - what did you learn from the video? </p>

<p>Tip 2: Put the timestamps of the parts you like the best in the description. Example:
	<ul>
		<li>1:23 - start of materail new to me</li>
		<li>2:24 - I need to try this move</li>
	</ul></p>

<p>Tip 3: Use the "change order" feature to:
	<ul>
		<li>Keep the best videos at the top</li>
		<li>Or, put the videos in the best viewing order</li>
		<li>Or, keep track of which videos you most want to rewatch</li>

	</ul></p>

<p>Tip 4: Create new lists based on what you want to learn. Examples:
	<ul>
		<li>Basketball - low post moves</li>
		<li>Basketball - ball handling</li>
		<li>Basketball - defensive stance</li>
	</ul></p>

<p>Tip 5: Use the rating feature to keep track of which videos are the best.</p>

<p>Tip 6: Learning is best when it's shared. Find someone to talk about your subject with, find someone to teach, find someone to learn from.</p>